{{ define "main" }}

<section class="lg:py-spacer lg:mt-[var(--header-height)]">
    {{ partial "highlight.html" (dict "context" . "info" .Params.banner "rounded" "lg:rounded-r-lg" "classes" "pt-[400px] lg:pt-0" "image_holder_classes" "absolute top-0 inset-x-0 before:absolute before:inset-0 before:bg-secondary-600 before:bg-opacity-60 lg:static lg:before:rounded-r-lg") }}
</section>

{{ with .Params.cards_sec }}
<section class="bg-white py-spacer">
    <h2 class="mb-8 text-heading-1 text-center xl:mb-16">{{ .Title }}</h2>
    <div class="container mx-auto">
        <div class="grid gap-6 grid-cols-1 justify-items-center md:grid-cols-2 xl:grid-cols-4">
            {{ range .list }}
                <div class="p-5 max-w-[285px] rounded-lg bg-[#fafafa] shadow-xl md:odd:justify-self-end md:even:justify-self-start xl:max-w-none">
                    <div class="w-32 h-16 mb-5">
                        {{ partial "image.html" (dict "context" . "image" .media "alt" .title "object" "contain") }}
                    </div>
                    <h3 class="text-xl font-bold mb-5">{{ .title }}</h3>
                    <p>{{ .description }}</p>
                </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

{{ if .Params.work_with_us }}
<section class="py-spacer">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
            <div>
                <h3 class="mb-8 text-heading-1 text-center lg:mb-12 lg:text-left">{{ .Params.work_with_us.title }}</h3>
                {{ range .Params.work_with_us.list }}
                    <div class="flex bg-white p-5 mt-5 rounded-lg gap-5 items-center hover:shadow-xl transition duration-300 lg:p-8 lg:gap-8">
                        <div class="[&>svg]:w-[50px] [&>svg]:h-[50px] [&>svg]:fill-primary-600">
                            {{ readFile .icon | safeHTML }}
                        </div>
                        <div>
                            <h4 class="text-heading-5 mb-2 lg:mb-3">{{ .title }}</h4>
                            <p class="leading-6">{{ .description }}</p>
                        </div>
                    </div>
                {{ end }}
            </div>
            <div class="min-h-[524px]">
                {{ partial "image.html" (dict "context" . "image" .Params.work_with_us.media "alt" .Params.work_with_us.title "rounded" "rounded-lg") }}
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ end }}


{{ define "structured" }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "RealEstateAgent",
        "name": {{ site.Params.sitename }},
        "url": {{ .Permalink }},
        "logo": {
            "@type": "ImageObject",
            "url": {{ absURL site.Params.logo.image }},
            "width": "{{ site.Params.logo.width }}",
            "height": "{{ site.Params.logo.height }}"
        },
        "description": {{ .Params.structured_data.description }},
        "address": {
            "@type": "PostalAddress",
            "addressLocality": {{ site.Params.address.locality }},
            "addressRegion": {{ site.Params.address.region }},
            "postalCode": {{ site.Params.address.code }},
            "addressCountry": {{ site.Params.address.country }}
        },
        "telephone": {{ site.Params.tel }},
        "email": {{ site.Params.email }},
        "foundingDate": "{{ site.Params.founder.date }}",
        "founder": {
            "@type": "Person",
            "name": {{ site.Params.founder.name }}
        },
        "sameAs": [
            {{ site.Params.linkedin }},
            {{ site.Params.facebook }},
            {{ site.Params.instagram }},
            {{ site.Params.youtube }}
        ],
        "openingHoursSpecification": [
        {{- range $i, $e := site.Params.working_hours }}{{ if $i }},{{ end }}
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    {{- range $in, $el := $e.days }}{{ if $in }},{{ end }}
                        {{ $el }}
                    {{- end }}
                ],
                "opens": {{ $e.opens }},
                "closes": {{ $e.closes }}
            }
            {{- end }}
        ],
        "areaServed": [
            {{- range $i, $e := site.Params.area_served }}{{ if $i }},{{ end }}
                {{ $e }}
            {{- end }}
        ],
        "makesOffer": [
            {{- range $i, $e := .Params.structured_data.offers }}{{ if $i }},{{ end }}
            {
                "@type": "Offer",
                "name": {{ .name }},
                "description": {{ .description }}
            }
            {{- end }}
        ],
        "employee": [
            {{- range $ind, $emp := .Params.structured_data.employees }}{{ if $ind }},{{ end }}
                {
                    "@type": "Person",
                    "name": {{ $emp.name }},
                    "jobTitle": {{ $emp.job_title }},
                    "telephone": {{ $emp.tel }},
                    "email": {{ $emp.email }}
                }
            {{- end }}
        ]
    }
</script>
{{ end }}
