{{ define "main" }}
  <section class="py-spacer">
    <div class="container">
      <h1 class="text-heading-1 text-center mb-8">{{ .Title }}</h1>
      <p class="text-center mb-8">{{ .Content }}</p>

      <!-- Category Navigation -->
      <div class="categories mb-8 gap-4 justify-center flex flex-wrap">
        <a href="/articles/" class="px-8 py-2 rounded-lg border inline-block border-primary-600 bg-primary-600 text-white hover:bg-primary-400 transition duration-300">All</a>
        {{ range $mainCategory, $subcategories := .Site.Params.categories }}
          <div class="group relative">
            <button class="px-8 py-2 rounded-lg border border-text-600 hover:bg-primary-400 transition duration-300">{{ $mainCategory }}</button>
            <div class="absolute left-0 hidden group-hover:block bg-white shadow-lg rounded-lg p-2">
              {{ range $subcategories }}
                <a href="/categories/{{ . | urlize }}/" class="block px-4 py-2 text-text-600 hover:bg-primary-400">{{ . }}</a>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>

      <!-- Articles Listing -->
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 2xl:grid-cols-4">
        {{ range .Pages }}
          <div class="p-6 border rounded-lg shadow-lg">
            <h2 class="text-heading-4 mb-4">
              <a href="{{ .RelPermalink }}" class="hover:underline">{{ .Title }}</a>
            </h2>
            <p>{{ .Summary }}</p>
            <a href="{{ .RelPermalink }}" class="text-primary-600 hover:underline">Read More</a>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}

