{{ define "main" }}
    <div class="container mt-[var(--header-height)] pb-spacer">
        <div class="md-content {{ .Params.page_classes }}">
            <!-- Title -->
            <h1 class="text-heading-0 mb-12 inline-block relative after:content-[''] after:h-px after:w-1/3 after:bg-text-400 after:block after:absolute after:left-0 after:-bottom-[10px]">
                {{ .Title }}
            </h1>

            <!-- ✅ Removed ToC Section Here -->

            <!-- Article Content -->
            {{ .Content }}
        </div>
    </div>
{{ end }}

