<form id="form-{{ .modal.id }}" action="{{ .modal.form_action }}" method="POST">
    <div class="grid gap-4 grid-cols-2">
        {{ range .modal.fields }}
            {{ if eq .type "hidden" }}
                <input class="absolute" type="hidden" name="{{ .name }}" value="{{ if .url }}{{ site.BaseURL }}{{ end }}{{ .value }}">
            {{ else if eq .type "honeypot" }}
                <input type="checkbox" name="{{ .id }}" tabindex="-1" autocomplete="off">
            {{ else }}
                <div class="col-span-2 {{ if not .full_width }}md:col-span-1{{end}}">
                    {{ if .label }}
                        <label for="{{ .id }}" class="block mb-2 leading-5 font-bold text-text-600">{{ .label }}</label>
                    {{ end }}
                    {{ if eq .type "textarea" }}
                        <textarea type="{{ .type }}" rows="{{ .rows }}" name="{{ .id }}" id="{{ .id }}" class="bg-gray-50 border border-gray-300 text-text-600 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="{{ .placeholder }}" required=""></textarea>
                    {{ else if or (eq .type "text") (eq .type "email") (eq .type "tel") }}
                        <input type="{{ .type }}" name="{{ .id }}" id="{{ .id }}" class="bg-gray-50 border border-gray-300 text-text-600 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="{{ .placeholder }}" required="">
                    {{ else if eq .type "select" }}
                        <select name="{{ .id }}" id="{{ .id }}" placeholder="{{ .placeholder }}" class="bg-gray-50 border border-gray-300 text-text-600 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" aria-label="{{ .placeholder }}">
                            <option selected>{{ .placeholder }}</option>
                            {{ range .options }}
                                <option value="{{ . | urlize }}">{{ . }}</option>
                            {{ end }}
                        </select>
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}

        <!-- Submit Button with reCAPTCHA v2 Invisible -->
        <div class="col-span-full">
            <button type="submit" class="btn btn-submit-{{ .modal.id }} btn-solid btn-arrow btn-primary w-full mb-2 g-recaptcha"
                    data-sitekey="{{ site.Params.recaptcha_key }}"
                    data-callback="onSubmit{{ .modal.id | safeJS }}"
                    data-action="submit">{{ .modal.button_text }}</button>
            <div class="italic text-sm text-gray-900">Your information is safe and secure with us</div>
        </div>
    </div>
</form>
<script>
    function onSubmit{{ .modal.id | safeJS }}(token) {
        document.getElementById("form-{{ .modal.id }}").submit();
    }

    function openModal(modalId) {
        document.getElementById(modalId).classList.remove("hidden");
        document.body.classList.add("modal-open");
        loadRecaptcha(); // Load reCAPTCHA only when the modal opens
    }

    function closeModal(modalId) {
        document.getElementById(modalId).classList.add("hidden");
        document.body.classList.remove("modal-open");
    }

    function loadRecaptcha() {
        if (!window.grecaptcha) {
            const script = document.createElement("script");
            script.src = "https://www.google.com/recaptcha/api.js";
            script.async = true;
            script.defer = true;
            document.head.appendChild(script);
        }
    }
</script>
