<footer id="footer" class="pt-16 pb-6 bg-white">
    <div class="container">
        <div class="grid gap-y-8 grid-cols-1 xl:gap-x-5 xl:grid-cols-[2fr_1.2fr_1.2fr]">
            <img src="/images/logo_moyer-realty-services.svg" width="390" height="99" alt="{{ site.Title }} logo" class="mx-auto h-[63px] self-center xl:mx-0 xl:h-[99px]">
            <div class="ft-links text-center xl:text-left">
                <div class="ft-title mb-1 font-display font-bold xl:mb-4">Quick Links</div>
                <ul class="flex gap-x-3 flex-wrap justify-center xl:block">
                    {{- range site.Menus.main }}
                    <li>
                        <a href="{{ .URL }}" class="py-0.5 inline-block text-[#666] transition-colors hover:text-primary-600 hover:underline">
                            {{ .Name }}
                        </a>
                    </li>
                    {{- end }}
                </ul>
            </div>
            <div class="ft-contact text-center xl:text-left">
                <div class="ft-title mb-1 font-display font-bold xl:mb-4">Contact Information</div>
                <div class="ft-contact-info flex gap-2 flex-col items-center text-[#666] xl:items-start">
                    <div class="flex gap-3 items-center">
                        <div class="[&>svg]:w-[16px] [&>svg]:h-auto fill-[#666]">{{ readFile "static/icons/phone.svg" | safeHTML }}</div>
                        <a href="tel:(520) 200-1770" class="hover:underline">(520) 200-1770</a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <div class="[&>svg]:w-[16px] [&>svg]:h-auto fill-[#666]">{{ readFile "static/icons/envelope.svg" | safeHTML }}</div>
                        <btn data-modal-target="contact-us-modal" data-modal-toggle="contact-us-modal" class="cursor-pointer hover:underline">Contact Us</btn>
                    </div>
                    <div class="flex gap-3 items-center">
                        <div class="[&>svg]:w-[16px] [&>svg]:h-auto fill-[#666]">{{ readFile "static/icons/document-shield.svg" | safeHTML }}</div>
                        <a href="/privacy-policy/" class="hover:underline">Privacy Policy</a>
                    </div>
                </div>
                <div class="ft-social mt-8 flex gap-4 flex-wrap items-center justify-center xl:gap-6 xl:justify-start">
                    <a href="{{ site.Params.linkedin }}" target="_blank" aria-label="LinkedIn" class="w-[30px] h-[30px] flex items-center justify-center border border-primary-600 rounded-full stroke-text-600 bg-white [&>svg]:w-auto [&>svg]:h-[14px] hover:stroke-white hover:bg-primary-600 xl:w-11 xl:h-11 xl:[&>svg]:h-5">
                        {{ readFile "static/icons/icon-linkedin.svg" | safeHTML }}
                    </a>
                    <a href="{{ site.Params.facebook }}" target="_blank" aria-label="Facebook" class="w-[30px] h-[30px] flex items-center justify-center border border-primary-600 rounded-full stroke-text-600 bg-white [&>svg]:w-auto [&>svg]:h-[14px] hover:stroke-white hover:bg-primary-600 xl:w-11 xl:h-11 xl:[&>svg]:h-5">
                        {{ readFile "static/icons/icon-facebook.svg" | safeHTML }}
                    </a>
                    <a href="{{ site.Params.instagram }}" target="_blank" aria-label="Instagram" class="w-[30px] h-[30px] flex items-center justify-center border border-primary-600 rounded-full stroke-text-600 bg-white [&>svg]:w-auto [&>svg]:h-[14px] hover:stroke-white hover:bg-primary-600 xl:w-11 xl:h-11 xl:[&>svg]:h-5">
                        {{ readFile "static/icons/icon-instagram.svg" | safeHTML }}
                    </a>
                    <a href="{{ site.Params.youtube }}" target="_blank" aria-label="Youtube" class="w-[30px] h-[30px] flex items-center justify-center border border-primary-600 rounded-full stroke-text-600 bg-white [&>svg]:w-auto [&>svg]:h-[14px] hover:stroke-white hover:bg-primary-600 xl:w-11 xl:h-11 xl:[&>svg]:h-5">
                        {{ readFile "static/icons/icon-youtube.svg" | safeHTML }}
                    </a>
                </div>
            </div>
        </div>
        <div class="pt-7 text-sm text-center lg:pt-16 lg:text-base">
            Copyright {{ now.Year }} <span>{{ site.Title }}</span> <span class="hidden xl:inline">|</span> <span class="mt-1.5 block xl:mt-0 xl:inline">Equal Housing  Opportunity</span>
        </div>
    </div>
</footer>
