{{- $showcase := false }}
{{- if .Params.showcase }}
    {{- $showcase = "dark" }}
{{- else if eq .Page.Type "categories" }}
    {{- $showcase = "dark" }}
{{- else if eq .Params.header_type "dark-light" }}
    {{- $showcase = "dark-light" }}
{{- end }}
<header id="header" class="{{ if eq $showcase "dark" }}header-dark{{ else if eq $showcase "dark-light" }}header-dark-light{{ else }}header-light{{ end }} fixed z-40 top-0 start-0 w-full flex items-center">
    <nav class="container grid gap-2 grid-cols-2 items-center justify-between xl:grid-cols-3">
        <!-- Logo Section -->
        <div class="logo-holder flex xl:order-1 xl:justify-center">
            <a href="/" class="block items-center">
                <img src="/images/logo_moyer-realty-services_w.svg" width="390" height="99" alt="{{ site.Title }} logo" class="logo-main w-auto h-[30px] md:h-[36px] lg:h-[42px] xl:h-[46px]">
                <img src="/images/logo_moyer-realty-services.svg" width="390" height="99" alt="{{ site.Title }} logo" class="logo-scroll w-auto h-[30px] md:h-[36px] lg:h-[42px] xl:h-[46px]" loading="lazy">
            </a>
        </div>

        <!-- Contact & Menu Buttons -->
        <div class="flex justify-end md:order-2 space-x-3 md:space-x-0">
            <!-- WhatsApp Contact Button -->
            <a href="https://wa.me/14808614328" target="_blank" class="btn btn-contact btn-arrow{{ if eq $showcase "dark" }} btn-outline btn-white{{ else }} btn-solid btn-primary{{ end }}">
                Contact Us
            </a>

            <!-- Mobile Menu Toggle Button (Restored) -->
            <button data-collapse-toggle="navbar-sticky" type="button" class="navbar-toggler inline-flex items-center justify-center [&>svg]:w-auto [&>svg]:h-8 hover:bg-white hover:bg-opacity-20 focus:bg-white focus:bg-opacity-20 focus:outline-none xl:hidden" aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                {{ readFile "static/icons/menu.svg" | safeHTML }}
            </button>
        </div>

        <!-- Mobile Menu -->
        <div class="absolute top-full inset-x-0 items-center justify-between hidden xl:static xl:flex xl:w-auto" id="navbar-sticky">
            <div class="container navbar-wrapper">
                {{ partial "menu.html" (dict "menuID" "main" "page" . "showcase" $showcase) }}
                <div class="navbar-btn-holder px-4 pb-4 xl:hidden">
                    <a href="https://wa.me/14808614328" target="_blank" class="btn btn-contact btn-arrow btn-solid btn-primary">
                     Contact Us
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>