{{- $image := "" }}

{{- if .resource }}
    {{- $image = .context.Resources.Get .image }}
{{- else if .image }}
    {{- $image = resources.Get (.image | safeURL) }}
{{- end }}

{{- $ext := "" }}
{{- if $image }}
    {{- $ext = path.Ext $image }}
{{- end }}

{{ if and $image (eq $ext ".svg") }}
    <!-- SVG Handling -->
    <picture class="{{ .classes }}">
        <img class="w-full h-full object-{{ .object | default "cover" }} {{ .rounded }}" 
            src="{{ $image.RelPermalink }}" 
            width="{{ .width | default 100 }}" 
            height="{{ .height | default 100 }}" 
            {{ if ne .loading "eager" }}loading="lazy"{{ end }} 
            alt="{{ .alt | default "Site image" }}">
    </picture>
{{ else if $image }}
    <!-- Ensure $image is valid before attempting resize -->
    {{- $image_avif := "" }}
    {{- $image_webp := "" }}

    {{- if $image }}
        {{- $image_avif = $image.Resize "1200x auto avif" }}
        {{- $image_webp = $image.Resize "1200x auto webp" }}
    {{- end }}

    <picture class="{{ .classes }}">
        {{- if $image_avif }}
            <source srcset="{{ $image_avif.RelPermalink }}" type="image/avif">
        {{- end }}
        {{- if $image_webp }}
            <source srcset="{{ $image_webp.RelPermalink }}" type="image/webp">
        {{- end }}

        <img
            class="w-full h-full object-{{ .object | default "cover" }} {{ .rounded }}"
            src="{{ $image.RelPermalink }}"
            width="{{ .width | default 100 }}"
            height="{{ .height | default 100 }}"
            {{ if ne .loading "eager" }}loading="lazy"{{ end }}
            alt="{{ .alt | default "Site image" }}"
        >
    </picture>
{{ else }}
    <!-- No image available: Do nothing instead of breaking build -->
{{ end }}
