{{- /*
  Renders a menu for the given menu ID.
  
  @context {page} page The current page.
  @context {string} menuID The menu ID.
  
  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  */}}
  
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  {{- $showcase := .showcase }}
  
  {{- with index site.Menus $menuID }}
      <nav class="nav-main hidden xl:block" data-menu-id="{{ $menuID }}">
          <ul class="flex flex-col p-4 xl:p-0 font-medium xl:flex-row">
              {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" . "showcase_inline" $showcase) }}
          </ul>
      </nav>
  
      <!-- Mobile Menu Button -->
      <button id="menu-toggle" class="xl:hidden p-4">
          <span class="sr-only">Toggle menu</span> ☰
      </button>
  {{- end }}
  
  {{- define "partials/inline/menu/walk.html" }}
    {{- $page := .page }}
      {{- $menu_classes := "block py-2 px-3 xl:hover:bg-transparent md:hover:text-primary-600 xl:p-0 xl:px-2" }}
      {{- $menu_classes_active := "active relative block py-2 px-4 text-white font-bold bg-primary-600 xl:bg-transparent xl:p-0 xl:px-2" }}
  
    {{- range .menuEntries }}
      {{- $attrs := dict "href" .URL "aria-label" .Name }}
      {{- if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
        {{- $attrs = merge $attrs (dict "class" $menu_classes_active "aria-current" "page") }}
      {{- else }}
        {{- $attrs = merge $attrs (dict "class" $menu_classes) }}
      {{- end }}
  
      <li>
        <a {{ range $k, $v := $attrs }} {{ with $v }} {{ printf " %s=%q" $k $v | safeHTMLAttr }} {{ end }} {{ end }}>
          {{ .Name }}
        </a>
        {{- with .Children }}
          <ul>
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
          </ul>
        {{- end }}
      </li>
    {{- end }}
  {{- end }}
  
  <!-- Mobile Menu Toggle Script -->
  <script>
    document.getElementById("menu-toggle").addEventListener("click", function () {
        let menu = document.querySelector("[data-menu-id='main']");
        menu.classList.toggle("hidden");
    });
  </script>
  