<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "{{ .Params.structured_data.type | default "Organization" }}",
        "@id": "{{ site.BaseURL }}#{{ .Params.structured_data.type | default "organization" }}",
        "name": "{{ site.Params.sitename }}",
        "url": "{{ .Permalink }}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ site.BaseURL }}{{ site.Params.logo.image }}",
            "width": "{{ site.Params.logo.width }}",
            "height": "{{ site.Params.logo.height }}"
        },
        "image": {
            "@type": "ImageObject",
            "url": "{{ site.BaseURL }}{{ site.Params.image }}"
        },
        "description": "{{ .Params.structured_data.description | default site.Params.description }}",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": {{ site.Params.address.streetAddress | jsonify }},
            "addressLocality": {{ site.Params.address.locality | jsonify }},
            "addressRegion": {{ site.Params.address.region | jsonify }},
            "postalCode": {{ site.Params.address.code | jsonify }},
            "addressCountry": { "@type": "Country", "name": "US" }
        },       
        "telephone": "{{ site.Params.tel }}",
        "email": "{{ site.Params.email }}",
        "foundingDate": "{{ site.Params.founder.date }}",
        "founder": {
            "@type": "Person",
            "name": "{{ site.Params.founder.name }}"
        },
        "sameAs": [{{ delimit (slice site.Params.linkedin site.Params.youtube) ", " | jsonify }}],
        "openingHoursSpecification": [
            {{- range $i, $e := site.Params.working_hours }}
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [{{ delimit $e.days ", " | jsonify }}],
                "opens": "{{ $e.opens }}",
                "closes": "{{ $e.closes }}"
            }{{ if ne (add $i 1) (len site.Params.working_hours) }},{{ end }}
            {{- end }}
        ],
        "areaServed": [{{ delimit site.Params.area_served ", " | jsonify }}],
        "priceRange": "{{ site.Params.price_range }}"{{ if or .Params.structured_data.offers .Params.structured_data.employees }},{{ end }}
        
        {{- with .Params.structured_data.offers }}
        "makesOffer": [
            {{ range . }} { "@type": "Offer", "name": "{{ .name }}", "description": "{{ .description }}" }, {{ end }}
        ]
        {{- end }}

        {{- with .Params.structured_data.employees }}
        "employee": [
            {{ range . }} { "@type": "Person", "name": "{{ .name }}" {{ with .job_title }}, "jobTitle": "{{ . }}"{{ end }} } {{ end }}
        ]
        {{- end }}
    }
</script>
