<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "{{ .Params.structured_data.type | default "Organization" }}",
        "@id": "{{ site.BaseURL }}#{{ .Params.structured_data.type | default "organization" }}",
        "name": "{{ site.Params.sitename | default "Moyer Realty Services" }}",
        "url": "{{ .Permalink | default site.BaseURL }}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ site.BaseURL }}{{ site.Params.logo.image | default "/images/default-placeholder.jpg" }}",
            "width": "{{ site.Params.logo.width | default "200" }}",
            "height": "{{ site.Params.logo.height | default "100" }}"
        },
        "image": {
            "@type": "ImageObject",
            "url": "{{ site.BaseURL }}{{ site.Params.image | default "/images/default-placeholder.jpg" }}"
        },
        "description": "{{ .Params.structured_data.description | default site.Params.description | default "Trusted real estate services in Southern Arizona." }}",
        
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "NA",
            "addressLocality": "NA",
            "addressRegion": "NA",
            "postalCode": "85706",
            "addressCountry": { "@type": "Country", "name": "US" }
        },       

        "telephone": "{{ site.Params.tel | default "(480) 861-4328" }}",
        "email": "{{ site.Params.email | default "info@moyerrealty.com" }}",
        "foundingDate": "2009-11",
        
        "founder": {
            "@type": "Person",
            "name": "{{ site.Params.founder.name | default "James Moyer" }}"
        },

        "sameAs": [{{ delimit (slice site.Params.linkedin site.Params.youtube) ", " | jsonify }}],

        "openingHoursSpecification": [
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
                "opens": "08:30",
                "closes": "18:00"
            },
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": ["Saturday", "Sunday"],
                "opens": "By appointment",
                "closes": "By appointment"
            }
        ],

        "areaServed": [{{ delimit site.Params.area_served ", " | jsonify }}],
        "priceRange": "{{ site.Params.price_range | default "$$" }}"{{ if or .Params.structured_data.offers .Params.structured_data.employees }},{{ end }}

        {{- with .Params.structured_data.offers }}
        "makesOffer": [
            {{ range . }} { "@type": "Offer", "name": "{{ .name }}", "description": "{{ .description }}" }, {{ end }}
        ]
        {{- end }}

        {{- with .Params.structured_data.employees }}
        "employee": [
            {{ range . }} { "@type": "Person", "name": "{{ .name }}" {{ with .job_title }}, "jobTitle": "{{ . }}"{{ end }} } {{ end }}
        ]
        {{- end }}
    }
</script>
