<section id="showcase" class="relative pt-[var(--header-height)] min-h-[525px] xl:min-h-[690px] flex items-center">
    <div class="container flex items-center">
        <div class="sc-text mx-auto max-w-[540px] text-center xl:mx-0 xl:text-left">
            <h1 class="mb-4 text-3xl sm:text-4xl md:text-5xl font-display font-bold text-white leading-tight">
                {{ .title }}
            </h1>
            <div class="subtitle text-base sm:text-lg text-white">
                {{ .subtitle }}
            </div>
            <div class="sc-action mt-5 flex gap-4 flex-wrap items-center xl:gap-8 xl:flex-row">
                {{ range .buttons }}
                    {{ with .link }}
                        <a {{ .attr | safeHTMLAttr}} href="{{ . | safeURL }}" class="{{ $.classes }}" aria-label="{{ $.title }}">
                            {{ $.title }}
                        </a>
                    {{ else }}
                        <button class="{{ $.classes }}" {{ $.attr | safeHTMLAttr}} aria-label="{{ $.title }}">
                            {{ $.title }}
                        </button>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
    
    <!-- Background Image -->
    <div class="sc-media absolute inset-0 -z-10 before:absolute before:inset-0 before:bg-secondary-600 before:bg-opacity-60">
        {{ partial "image-srcset.html" (dict "context" . "image" .media "alt" .alt | default .title "loading" "eager" "srcset" (slice "640" "1280" "1920")) }}
    </div>
</section>