.md-content {
    h1 {@extend .text-heading-1; margin: 35px 0; font-weight: 800;}
    h2 {@extend .text-heading-2; margin: 35px 0 15px; font-weight: 800;}
    h3 {@extend .text-heading-3; margin: 35px 0 10px; font-weight: 800;}
    ul {margin: 40px 0;
        li {position: relative; margin-left: 40px;
            &:before {content: ''; display: block; height: 8px; width: 8px; border: 1px solid theme('colors.primary[600]'); border-radius: 50px; position: absolute; left: -18px; top: 9px;}
        }
    }
    ol {list-style: decimal; margin: 40px 0;
        li {margin-left: 40px;}
    }
    blockquote {padding: 30px; border-left: 4px solid theme('colors.primary[600]'); background-color: #f5f5f5; margin: 40px 0;
        p {margin: 0;}
    }
    p {margin-bottom: 30px;
        + ul, + ol {margin-top: 10px;}
        &:has(+ ul), &:has(+ ol) {margin-bottom: 12px;}
        &:last-child {margin-bottom: 0;}
    }
    img {border-radius: 8px;}
    a {color: theme('colors.primary[600]'); text-decoration: underline; transition: 300ms ease;
        &:hover {color: theme('colors.primary[400]');}
    }
}
