{{ define "main" }}
<div class="bg-white py-spacer mt-[var(--header-height)]">
    <div class="container">
        <div class="max-w-screen-xl mx-auto">
            <h1 class="text-heading-0 mb-12 inline-block relative text-center lg:text-left">{{ .Title }}</h1>
            
            <div class="flex flex-col mb-8 items-center lg:flex-row lg:justify-between">
                <div class="flex flex-col items-center lg:items-start gap-2">
                    <div class="flex gap-5">
                        <span class="py-2 text-text-400 text-sm">{{ .Date.Format site.Params.dateformat }}</span>
                        {{ if .Params.author }}<span class="py-2 text-text-400 text-sm">{{ .Params.author }}</span>{{ end }}
                        <span class="py-2 text-text-400 text-sm">{{ .ReadingTime }} Mins</span>
                    </div>
                </div>
                <div class="flex gap-2 lg:gap-4">
                    {{ range .GetTerms "categories" }}
                        <a class="category-link" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                    {{ end }}
                </div>
            </div>

            <div class="md-content">
                {{ .Content }}
            </div>

            <div class="social-share-buttons flex gap-3 mt-6 pb-4 items-center justify-center">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer" class="text-text-400 text-sm hover:text-primary-600">Share on Facebook</a>
                <span class="border-l h-4 border-text-400 mx-2"></span>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener noreferrer" class="text-text-400 text-sm hover:text-primary-600">Share on LinkedIn</a>
            </div>
        </div>

        {{ $pages := where .Site.RegularPages "Section" "articles" }}
        {{ if and (gt (len $pages) 1) (in $pages .) }}
            <div class="pagination-links flex flex-col md:flex-row justify-between items-center mt-8 border-t pt-10">
                {{ with $pages.Next . }}
                    <a href="{{ .RelPermalink }}" class="flex-1 text-primary-600 hover:text-primary-400">
                        <div class="text-sm">Previous</div>
                        <div class="truncate">{{ .Title }}</div>
                    </a>
                {{ else }}
                    <div class="flex-1"></div>
                {{ end }}
                {{ with $pages.Prev . }}
                    <a href="{{ .RelPermalink }}" class="flex-1 text-right text-primary-600 hover:text-primary-400">
                        <div class="text-sm">Next</div>
                        <div class="truncate">{{ .Title }}</div>
                    </a>
                {{ else }}
                    <div class="flex-1"></div>
                {{ end }}
            </div>
        {{ end }}
    </div>
</div>

<div class="text-center py-spacer">
    <div class="container">
        <div class="max-w-screen-sm mx-auto">
            <h3 class="text-heading-1 mb-5">Ready to buy or sell your home? Contact us today.</h3>
            <p class="mb-5">Take the first step toward your next real estate deal. Whether you're looking to buy or sell, our team is here to help you every step of the way.</p>
            <button data-modal-target="contact-us-modal" data-modal-toggle="contact-us-modal" class="btn btn-solid btn-primary">Contact Us Today</button>
        </div>
    </div>
</div>
{{ end }}

<style>
.category-link {
    padding: 0.25rem 1rem;
    color: var(--text-400);
    font-size: 0.875rem;
    border: 1px solid;
    border-radius: 0.5rem;
    transition: all 0.3s;
}
.category-link:hover {
    background-color: var(--primary-400);
    color: #fff;
    border-color: var(--primary-400);
}
</style>

{{ define "structured" }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "@id": "{{ .Permalink }}#blogposting",
        "headline": "{{ .Title }}",
        "description": "{{ .Summary | plainify }}",
        "url": "{{ .Permalink }}",
        "datePublished": "{{ .Date }}",
        "dateModified": "{{ .Lastmod }}",
        "author": {
            "@type": "Person",
            "name": "{{ .Params.author }}",
            "url": "{{ absURL "/about-us/" }}"
        },
        "image": {
            "@type": "ImageObject",
            {{- with .Resources.Get .Params.image }}
                "url": "{{ .Permalink }}",
                "width": "{{ .Width }}",
                "height": "{{ .Height }}"
            {{- end }}
        },
        "publisher": {
            "@type": "Organization",
            "@id": "{{ .Permalink }}#organization",
            "name": "{{ site.Params.sitename }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ absURL site.Params.logo.image }}"
            }
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Permalink }}"
        },
        "wordCount": "{{ .WordCount }}",
        "articleBody": "{{ .Plain | safeJS }}",
        "inLanguage": "en-US",
        "isPartOf": {
            "@type": "Blog",
            "@id": "{{ .Permalink }}#blog",
            "name": "{{ .Page.Parent.Title }}",
            "url": "{{ absURL "/articles/" }}"
        }
    }
</script>
{{ end }}
